<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Editar User</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="">marca:</label>
                    <input type="text" class="form-control" [(ngModel)]="user.marca" name="marca">
                    <label for="">talla:</label>
                    <input type="text" class="form-control" [(ngModel)]="user.talla" name="talla">
                    <label for="">color:</label>
                    <input type="text" class="form-control"[(ngModel)]="user.color" name="color">
                    <label for="">genero:</label>
                    <input type="textr" class="form-control"[(ngModel)]="user.genero" name="genero">
                    <label for="">descripcion:</label>
                    <input type="textr" class="form-control"[(ngModel)]="user.descripcion" name="descripcion">
                    
                </div>
                <button (click)="Actualizar()" class="btn btn-danger">Actualizar</button>
            </form>
        </div>
    </div>
</div>
