<div class="container">

    <div class="card" >
        <div class="card-header">
            <h3>USER</h3>
        </div>
            <div class="card-body">
                <table class="table table-hover">
                <thead >
                    <tr class="text-center">
                        <th>ID</th>
                        <th>NOMBRE</th>
                        <th>APELLIDO</th>
                        <th>TIPO ID</th>
                        <th>IDENTIFICACION</th>
                        <th>FECHA REGISTRO </th>
                        <th>ACCION</th>
                        <th>AGREGAR</th>
                        <th>AJUSTES</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr  *ngFor="let user of user" class="text-center">
                        <td>{{user.id}}</td>
                        <td>{{user.nombre}}</td>
                        <td>{{user.apellidos}}</td>
                        <td>{{user.tipoIdentificacion}}</td>
                        <td>{{user.identificacion}}</td>
                        <td>{{user.fechaingreso.split('T')[0]+" "+(user.fechaingreso.split('T')[1]).split('.')[0]}}</td>

                        
                        <td>
                        <button (click)="Editar(user)" class="btn btn-info"style="margin:5px" >Editar</button>
                        <button (click)="Delete(user)"class="btn btn-danger" >Eliminar</button>
                        </td>

                       
                        <td>
                        <button (click)="agregarTel(user)" class="btn btn-info " style="margin: 5px;">Addtelefono</button>
                        <button (click)="agregaremail(user)"class="btn btn-info" >Addemail</button>
                    </td>
                    <td>
                    <button (click)="info(user)" class="btn btn-info " style="margin: 5px;">Mas Informacion</button>
                    </td>
                    </tr>
                </tbody>
                </table>
            
        </div>
    </div>
</div>
