<div class="container">

    <div class="card" >
        <div class="card-header">
            <h3>Usuarios</h3>
        </div>
            <div class="card-body">
                <table class="table table-hover">
                <thead >
                    <tr class="text-center">
                        <th>ID</th>
                        <th>MARCA</th>
                        <th>TALLA</th>
                        <th>COLOR</th>
                        <th>GENERO</th>
                        <th>DESCRIPCION</th>
                        <th>OPCIONES</th>
                        
                        
                    </tr>
                </thead>
                <tbody>
                    <tr  *ngFor="let user of user" class="text-center">
                        <td>{{user._id}}</td>
                        <td>{{user.marca}}</td>
                        <td>{{user.talla}}</td>
                        <td>{{user.color}}</td>
                        <td>{{user.genero}}</td>
                        <td>{{user.descripcion}}</td>

                        
                        <td>
                        <button (click)="Editar(user)" class="btn btn-info"style="margin:5px; border: 2px;height: 40px;
                        width: 115px;" >Editar</button>
                        <button (click)="Delete(user)"class="btn btn-danger " style="border: 2px; height: 40px;
                        width: 115px;">Eliminar</button>
                        </td>

                    </tr>
                </tbody>
                </table>
            
        </div>
    </div>
</div>
