<div class="container">
    <div class="card" >
        <div class="card-header">
            <h3>USER</h3>
        </div>
            <div class="card-body">
                <table class="table table-hover">
                <thead >
                    <tr class="text-center">
                        <th>NUMERO</th>
                        <th>EMAILS</th>
                        <th>ACCION</th>

                        
                    </tr>
                </thead>
                <tbody>
                    <tr  *ngFor="let user of user" class="text-center">
                        <td>{{user.numero}}</td>
                        <td>{{user.emails}}</td>
                        <td>
                        <button (click)="Delete(user)"class="btn btn-danger" style="margin:5px; border: 10px;height: 80px;
                        width: 120px;">Eliminar Tel y Emails</button>
                        </td>

                    
                    </tr>
                </tbody>
                </table>
            
        </div>
    </div>
</div>
