<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Agregar Vehiculos</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="">Marca:</label>
                    <input type="text" class="form-control" [(ngModel)]="vehiculos.marca" name="marca">
                    <label for="">Modelo:</label>
                    <input type="text" class="form-control" [(ngModel)]="vehiculos.modelo" name="modelo">
                    <label for="">Cilindraje:</label>
                    <input type="number" class="form-control" [(ngModel)]="vehiculos.cilindraje" name="cilindraje">
                    <label for="">Año:</label>
                    <input type="number" class="form-control"[(ngModel)]="vehiculos.ano_fabricacion" name="año">
                </div>
                <button (click)="Actualizar()" class="btn btn-danger">Actualizar</button>
            </form>
        </div>
    </div>
</div>
